<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Demo!</title>
  </head>
  <body>
    

    <div class="container">
      <h1><span class="badge badge-primary">Sigfox</span></h1>
      <h2>IoT, ReST, Data, Demo</h2>
      <h5>Anyungu C,</h5>
      <h5>NodeJS, SpringBoot, React, IoT</h5>

      <hr/>

      <h5> Set Up Procedure</h5>

      <div class="alert alert-info" role="alert">
            <strong>0. </strong>Create a free heroku <a href="https://signup.heroku.com/" target="_blank" class="alert-link">here</a>
        </div>


      <div class="alert alert-primary" role="alert">
          <strong>1. </strong> Install (or upgrade) to the latest LTS version of nodeJS (Google how to)
      </div>

      <div class="alert alert-info" role="alert">
            <strong>2. </strong>Install git, <a href=" https://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank"class="alert-link">here</a>
      </div>

      <div id = "stamp" class="alert alert-primary" role="alert">
            <strong>3. </strong>Open a directory of your choice (where your project will reside) in the terminal
      </div>

      <div  class="alert alert-info" role="alert">
            <strong>4. </strong>Clone my repo using <strong> git clone https://github.com/Anyungu/node-sigfox-warefab-api.git </strong> in your folder
      </div>

      <div class="alert alert-primary" role="alert">
            <strong>4. </strong> go into the newly cloned folder called node-sigfox-warefab-api
      </div>

      <div class="alert alert-info" role="alert">
            <strong>5. </strong> run <strong>npm install (install all the packages) </strong>
      </div>

      <div class="alert alert-primary" role="alert">
            <strong>6. </strong> run <strong> npm start </strong> (test if its running on localhost, if not you are most likely using an old nodeJS)
      </div>

      <div class="alert alert-info" role="alert">
            <strong>7. </strong> Your app Should be running <a href="http://localhost:9200/" target="_blank" class="alert-link">here</a>
      </div>

      <div class="alert alert-primary" role="alert">
            <strong>8. </strong> run <strong> git init </strong> (initialize a repo), <strong>git add . </strong>(add files to cache)
      </div>

      <div class="alert alert-info" role="alert">
            <strong>9. </strong> run <strong> git commit -m "message of your choice" </strong> (commit files to cache)
      </div>

      <div class="alert alert-primary" role="alert">
            <strong>10. </strong> Install heroku Cli <a href="https://devcenter.heroku.com/articles/heroku-cli" target="_blank" class="alert-link">here</a>
      </div>


      <div class="alert alert-info" role="alert">
            <strong>11. </strong> run <strong> heroku login </strong>, <strong>heroku create {prefered-name-of-your-app}</strong>, mine is ltk-warefab
      </div>

      <div class="alert alert-primary" role="alert">
            <strong>12. </strong> run <strong>git push heroku master</strong>
      </div>

      <div class="alert alert-info" role="alert">
            <strong>13. </strong> run heroku open, and view your App
      </div>



      
      


     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="module" src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
